// Logo font
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
  overflow-x: hidden;
}

.letter-spacing {
  letter-spacing: 2px;
}

/* navbar */
.navbar-pos {
  position  : fixed;
  left      : 0;
  right     : 0;
  top       : 0;
  z-index   : 3;
  transition: all 1s;
}

.nav-color {
  background-color: $coffee-black;
}

.blancoLogo {
  display: block;
  width  : 36px;
  margin : 0 10px 0 0;
  height : auto;
}

.logo-font {
  font-family: 'Satisfy', cursive;
  font-size  : 1.2em;
}

.icon-color {
  border-color: #FFF !important;
  color       : #FFF !important;

  &:hover {
    border-color: $coffee-yellow !important;
    color       : $coffee-yellow !important;
  }
}

.font-set {
  display       : block;
  letter-spacing: 2px;
  margin-left   : 10px;

  &:hover {
    color: $coffee-yellow !important;
  }
}

.nav-close {
  min-height: 0;
}

/* 購物車圖示 */
.cart-icon {
  position: relative;

  i {
    padding: 4.5px 0;
  }

  .cart-num {
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-size       : 12px;
    width           : 24px;
    height          : 24px;
    letter-spacing  : 0;
    border-radius   : 50%;
    background-color: $coffee-red;
    position        : absolute;
    top             : -2px;
    right           : 0;
  }
}

@media (max-width: 540px) {
  .cart-icon {
    .cart-num {
      top      : 50%;
      left     : 4em;
      transform: translateY(-50%);
    }
  }

  .navbar-state {
    background-color: $coffee-black;
  }
}

/* 底線效果 */
.line-style {
  position: relative;

  //所在頁面
  &.active:after {
    content         : "";
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 2px;
    background-color: #fff;
    transform       : scaleX(1);
  }
}

.line-style:after {
  content         : "";
  position        : absolute;
  bottom          : 0;
  left            : 0;
  width           : 100%;
  height          : 2px;
  background-color: #fff;
  transform       : scaleX(0);
  transform-origin: bottom right;
  transition      : transform 0.2s ease-out;

}

.line-style:hover::after {
  background-color: $coffee-yellow !important;
  transform       : scaleX(1);
  transform-origin: bottom left;
}

/* footer */
.footer p {
  margin   : 0;
  font-size: $font-size-sm;
}

.input-size {
  width: 40%;
}

@media(max-width: 768px) {
  .input-size {
    width: 60%;
  }
}

@media(max-width: 415px) {
  .input-size {
    width: 100%;
  }
}

.social {
  padding   : 0;
  margin    : 0;
  list-style: none;
  display   : flex;

  a {
    display: block;
    padding: 10px;
  }
}

/* Subscribe Modal */
.modal-pos {
  top      : 50%;
  transform: translateY(-50%) !important;
}

.subscribe {
  width        : 300px;
  margin       : 0 auto;
  border       : 2px solid $coffee-yellow;
  border-radius: 20px;

  .sub-title {
    border-radius: 20px 20px 0 0;
  }

  .sub-content {
    border-radius: 0 0 20px 20px;
    white-space  : nowrap;
  }

  .coupon-code {
    cursor: pointer;
  }
}

/* detail modal */
.info {
  width           : 400px;
  height          : 100vh;
  padding         : 30px 60px;
  position        : fixed;
  top             : 0;
  bottom          : 0;
  right           : 0;
  z-index         : 999;
  background-color: $coffee-black;
  transform       : translateX(400px);
  transition      : all 1s cubic-bezier(0.22, 0.61, 0.36, 1);

  &.active {
    transform: translateX(0);

  }
}

.detail-info {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin-top    : 4em;

  .logo {
    text-align: center;

    img {
      width : 100px;
      height: auto;
    }
  }
}

.admin {
  margin-top: 60px;
}